.btn {
  border: none !important; }

.dark #header[data-transparent="true"]:not(.sticky-active) .header-inner, .dark #header[data-transparent="true"]:not(.sticky-active) #header-wrap, #header.dark[data-transparent="true"]:not(.sticky-active) .header-inner, #header.dark[data-transparent="true"]:not(.sticky-active) #header-wrap {
  background-color: rgba(0, 0, 0, 0.5); }

#mainMenu nav > ul > li.hover-active > a, #mainMenu nav > ul > li.hover-active > span, #mainMenu nav > ul > li.current > a, #mainMenu nav > ul > li.current > span, #mainMenu nav > ul > li:hover > a, #mainMenu nav > ul > li:hover > span, #mainMenu nav > ul > li:focus > a, #mainMenu nav > ul > li:focus > span {
  color: #6a00c6; }

#mainMenu nav > ul > li .dropdown-menu > li > a:focus, #mainMenu nav > ul > li .dropdown-menu > li > a:hover, #mainMenu nav > ul > li .dropdown-menu > li > a:active, #mainMenu nav > ul > li .dropdown-menu > li > span:focus, #mainMenu nav > ul > li .dropdown-menu > li > span:hover, #mainMenu nav > ul > li .dropdown-menu > li > span:active, #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:focus, #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover, #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:active {
  color: #6a00c6; }

#mainMenu nav > ul > li .dropdown-menu > li > a {
  font-size: 14px; }

.dropdown li a.active {
  color: #6a00c6 !important; }

.btn-gradient {
  display: inline-block;
  border: none !important;
  background: #4b2868;
  background: linear-gradient(90deg, #4b2868 0%, #662778 35%, #9c479c 100%);
  transition: all 2s ease-out;
  border-radius: 30px;
  padding: 12px 40px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff !important;
  margin: 1px 1px 0;
  cursor: pointer; }

.btn-solid {
  background: #d65ca0;
  background: linear-gradient(90deg, #9c479c 0%, #9c479c 35%, #9c479c 100%); }

button.btn:hover, button.btn-gradient:hover, button.btn:focus, button.btn:not(:disabled):not(.disabled):active, button.btn:not(:disabled):not(.disabled).active, .btn:not(.close):not(.mfp-close):hover, .btn:not(.close):not(.mfp-close):focus, .btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled):active, .btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled).active, a.btn:not([href]):not([tabindex]):hover, a.btn:not([href]):not([tabindex]):focus, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled).active {
  background: #4b2868;
  background: linear-gradient(90deg, #9c479c 0%, #662778 35%, #4b2868 100%);
  color: #ffffff !important;
  text-decoration: none; }

.inspiro-slider .slide .slide-captions h1 {
  font-size: 60px; }

.flickity-button:hover {
  background-color: #6a00c6; }

.page-menu nav > ul > li:hover > a, .page-menu nav > ul > li.active > a {
  color: #6a00c6; }

a:not(.btn):not(.badge):hover, a:not(.btn):not(.badge):focus, a:not(.btn):not(.badge):active {
  color: #6a00c6; }

button.btn, .btn:not(.close):not(.mfp-close), a.btn:not([href]):not([tabindex]) {
  background-color: #6a00c6;
  border-color: #6a00c6; }

.pricing-table.colored .plan-header {
  background-color: #9c479c;
  border-color: rgba(0, 0, 0, 0.05);
  color: #fff; }

.pricing-table.colored .plan.featured .plan-header {
  background: #4b2868; }

section#section1 {
  background: #4b2868;
  background: linear-gradient(90deg, #4b2868 0%, #662778 35%, #9c479c 100%); }

.text-box.hover-effect a img {
  margin: 90px 0 20px; }

.text-box h3 {
  color: #ffffff !important; }

.text-box:hover {
  background: transparent; }

.text-box:hover h3 {
  color: #ffffff !important; }

.text-box:hover p {
  color: #ffffff !important; }

.icon-field .icon i {
  color: #ffffff !important; }

.icon-field h4 {
  color: #ffffff !important; }

.bg-overlay[data-style="6"] {
  background: radial-gradient(circle at left top, #d65ca0 38%, #9c479c 66%);
  opacity: .9; }

.icon-img {
  margin-top: 50px; }

.icon-box.text-center h5 {
  margin-top: 10px; }

.shape-section .text-box {
  padding: 15px; }

.shape-section .text-box:hover i {
  color: #ffffff; }

.facts {
  padding-top: 20px; }

.facts .text-box {
  padding: 15px; }

.facts .text-box h4 {
  font-size: 1.2em;
  font-weight: normal; }

.trading-image img {
  max-width: 100%;
  max-height: unset; }

.trading-image {
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

.shape-section h4 {
  color: #ffffff;
  font-weight: 500; }

.shape-section .container, .shape-section .container-wide {
  margin-top: 30px; }

.section-heading {
  font-size: 35px;
  font-weight: 600;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 45px;
  position: relative;
  padding-bottom: 15px;
  color: #300454; }

.section-heading:before {
  width: 100px;
  height: 1px;
  content: "";
  background-color: #662778;
  position: absolute;
  left: 15px;
  bottom: 5px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.section-heading.text-center:before {
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.section-heading:hover:before {
  width: 150px; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.shape-section .text-box.hover-effect img {
  transition: all 0.4s ease 0s;
  max-width: 50px;
  margin: 70px 0 15px; }

.shape-section .text-box.hover-effect:hover img {
  margin: 50px 0 6px 0; }

.icon-boxx .icon-box-content h2 {
  color: #662778; }

.list-icon.list-icon-colored li:before, .list-icon.icon-list-colored i {
  color: #d75ca1; }

.list-icon li {
  color: #9896a6; }

.heading-text.heading-line h4:before {
  background-color: #6a00c6 !important; }

.heading-text.heading-section h2:before {
  background-color: #6a00c6 !important; }

.icon-box.light .icon i {
  background-color: #9c479c;
  color: #ffffff; }

.icon-box.light .icon i:after {
  box-shadow: 0 0 0 3px #9c479c; }

.icon-box.small > h3 {
  font-size: 1rem; }

#scrollTop:after, #scrollTop:before {
  background-color: #9c479c; }

.product-icons {
  display: block;
  width: 100%;
  margin-bottom: 15px; }

.product-icon-boxes .icon-boxx {
  display: block;
  align-items: unset; }

.product-icon-boxes .icon-boxx .icon-box-content {
  padding-left: 0px; }

.side-image img {
  max-width: 100%; }

.offer-listview {
  padding: 80px 0px; }

.offer-listview .list-icon li {
  font-size: 16px; }

.button-wrapper {
  text-align: center; }

a.long-button {
  width: 80%;
  max-width: 250px;
  padding: 15px 18px !important; }

.platform-box {
  width: 100%; }

.platform-box.center h3 {
  margin-right: 0; }

.acc-type-padding {
  padding-top: 30px; }

.acc-type-padding .pricing-table .plan .plan-header .plan-price {
  color: #9c479c; }

.acc-type-padding .pricing-table .plan .plan-header .plan-price sup {
  color: #1f1f1f; }

.acc-type-padding .pricing-table .featured {
  background-color: #9c479c; }

.acc-type-padding .pricing-table .featured .plan-header {
  background-color: #4b2868; }

.acc-type-padding .pricing-table .featured .plan-header h4 {
  color: #ffffff; }

.acc-type-padding .pricing-table .featured .plan-header .text-muted {
  color: #ffffff !important; }

.acc-type-padding .pricing-table .featured .plan-header .plan-price {
  color: #ffffff; }

.acc-type-padding .pricing-table .featured .plan-header .plan-price sup {
  color: #ffffff; }

.tabview {
  margin-top: 50px;
  margin-bottom: 50px; }

.tabview .tabs.tabs-folder .nav-tabs .nav-link {
  font-size: 20px;
  color: #111111; }

.tabview .tabs .nav-tabs .nav-link.active {
  color: #9c479c; }

.tabview .tabs.tabs-folder .nav-tabs .nav-link.active {
  border-color: #d75ca1;
  border-bottom-color: #ffffff; }

.tabview .tabs.tabs-folder .tab-content {
  border-color: #d75ca1; }

.table thead th {
  border: 1px solid #4b2868;
  background-color: #4b2868;
  color: #ffffff; }

.table td {
  text-align: center;
  color: #959595; }

.table td img {
  display: inline-block;
  max-width: 50px; }

.table thead th:first-child {
  min-width: 140px; }

.table thead th:nth-child(4) {
  width: 154px; }

@media (max-width: 1024px) {
  #header[data-transparent="true"] + #page-title {
    top: -80px !important; } }
@media (max-width: 768px) {
  #header #logo {
    position: relative !important; }

  .inspiro-slider .slide .slide-captions h1 {
    font-size: 40px; }

  .inspiro-slider .slide .container, .inspiro-slider .slide .container-wide {
    padding-top: 60px;
    padding-bottom: 60px; }

  .inspiro-slider.slider-fullscreen {
    height: calc(100vh - 80px); }

  .shape-section .text-box {
    height: auto !important; }

  .text-box.hover-effect p {
    opacity: 1 !important; }

  .shape-section .text-box.hover-effect img {
    margin: 30px 0 15px; } }
.deponwith-boxes {
  padding: 20px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.deponwith-boxes img {
  max-width: 50px;
  display: inline-block; }

.rowblock {
  margin-bottom: 5px; }

.card h5, .card .h5 {
  position: relative;
  font-weight: bold; }

.card h5:before, .card .h5:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d75ca1;
  content: ""; }

.card .card-body {
  padding-top: 15px; }

.card-icon {
  width: 80px;
  margin-top: 2rem;
  margin-left: 2rem; }

.card-icon img {
  max-width: 100%; }

.form-control:focus {
  border-color: #9c479c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(156, 71, 156, 0.25); }

.heading-section h5 {
  font-size: 20px;
  font-weight: bold;
  color: #323232; }

.accordion .ac-item .ac-title {
  color: #1f1f1f;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold; }

.accordion .ac-item:hover .ac-title {
  color: #9c479c; }

.accordion .ac-active .ac-title {
  color: #9c479c;
  font-weight: bold; }

.scrollspy-example {
  position: relative;
  height: auto; }

#GFG_scrollspy {
  position: relative; }

.scolllist {
  top: 0px; }

div.col-8 div {
  height: 500px; }

.scolllist {
  width: 100%;
  padding: 15px 10px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ffffff; }

ul.scrollpills li {
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px; }

.scolllist nav a {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #f5f5f5;
  float: left; }

.activefixed {
  position: fixed;
  top: 80px;
  z-index: 20; }

.scolllist nav a {
  color: #4b2868; }

.scolllist nav a.active {
  color: #ffffff !important;
  background-color: #9c479c; }

body, html {
  margin: 0;
  padding: 0; }

section.scroll-section {
  height: 100vh; }

.glossary-section-wrapper {
  width: 100%; }

.economic-calendar-wrapper {
  height: 100%;
  min-height: 80vh; }

.glossary-section {
  text-align: left;
  padding-top: 35px;
  padding-bottom: 35px; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.glossary__heading {
  font-size: 20rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  width: 33.333%;
  float: left;
  color: #4b2868; }

.glossary-terms {
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0;
  width: 66.667%;
  float: left;
  padding-top: 20px; }

.glossary-terms__term {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: .03em;
  width: 25%;
  float: left;
  padding-right: 10px;
  padding-bottom: 30px;
  clear: left; }

.glossary-section {
  background-color: #ffffff; }

.glossary-section:nth-child(odd) {
  background-color: #f5f5f5; }

.glossary-terms__definition {
  width: 75%;
  float: left;
  margin-left: 0;
  padding-bottom: 30px; }

.glossary-section > .wrapper {
  margin: 0 auto;
  overflow: auto; }

@media (max-width: 1200px) {
  .glossary-section-wrapper {
    padding-left: 15px;
    padding-right: 15px; } }
@media (min-width: 1024px) {
  .glossary-section > .wrapper {
    max-width: 960px;
    padding: 0; } }
@media (max-width: 1024px) {
  button.btn:not(.btn-creative):not(.btn-slide), .btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide), a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide) {
    font-size: 14px;
    height: auto !important;
    line-height: normal !important;
    padding: 15px 18px; } }
@media (max-width: 992px) {
  .glossary__heading {
    width: 100%;
    float: none; }

  .glossary-terms {
    width: 100%;
    float: none; } }
@media screen and (min-width: 767px) {
  .glossary-section {
    position: relative; } }
@media (max-width: 768px) {
  .scolllist {
    display: none; }
  .removeForMobile{
    display: none!important;
  }
  }
ul.tnc {
  list-style: none; }

ul.tnc li {
  display: inline-block;
  margin-right: 15px; }

.leagal-box {
  margin-bottom: 25px; }

.leagal-box-inner {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  padding: 25px 15px; }

.leagal-box-inner h4 {
  font-weight: normal; }

.leagal-icon {
  width: 80px;
  height: 80px;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px; }

.leagal-icon img {
  max-width: 100%; }

.leagal-box-inner a {
  min-width: 100px;
  text-align: center; }

/*# sourceMappingURL=custom-style.css.map */


.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-t
    ransform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} 


#header[data-transparent="true"] + #page-title {
  padding: 300px 0 240px 0;
}

.about-boxes{
  padding:25px;
  text-align: center;
  margin-top:40px;
}
.about-icons{
  width:60px;
  margin:0 auto;
  margin-bottom:20px;
}
.about-icons img{
  max-width:100%;
}
.about-boxes p{
  color:#808080;
}